$primary: #6200EE;
$primary-accent: #3700B3;
$gray: #e6e3e3;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    p {
        margin: 0;
    }
}

.btn {
    color: #000;
    cursor: pointer;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    background: darken($gray, 1.5%);
    font-weight: 100;
    border: none;
    transition-duration: .6s;
    transition-timing-function: ease;
      
        svg {
            height: 45px;
            left: 0;
            position: absolute;
            top: 0; 
            width: 100%; 
        }
        
        rect {
            fill: none;
            stroke: $primary-accent;
            stroke-width: 2;
            stroke-dasharray: 422, 0;
            transition: all 0.35s linear;
        }

        &:focus {
            outline: none;
        }

        &:hover {
            background: rgba(#e6e3e3, 0);
            font-weight: 700;
            letter-spacing: 1px;
                
            rect {
                stroke-width: 5;
                stroke-dasharray: 15, 310;
                stroke-dashoffset: 48;
                transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
                }
        }
    }

.container {
    background: linear-gradient(-45deg, $primary, $primary-accent);
    background-size: 200%, 200%;
    animation: gradient 10s ease infinite;
    overflow-x: hidden;

    @media (max-width: 500px) {
        overflow-x: auto;
    }

    .header--container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        z-index: 1000;
    
        .logo-image {
            position: absolute;
            right: 10px;
            top: 10px;
            height: 100%;
            background: #e6e3e3;
            padding: 10px;
            border: 3px solid black;
            border-radius: 5px;

            @media (max-width: 768px) {
                transform: scale(0.70);
            }
        }
    }

    .instruction--container {
        position: relative;
        width: 100vw;
        height: 100vh;
        transition: opacity 1s;

        .information {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 60%;
            padding: 20px;
            font-size: 1.8rem;
            -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
            text-align: center;
            background-color: $gray;
            z-index: 2;

            @media (max-width: 700px) {
                top: 65%;
                margin-bottom: 200px;
            }

            @media (max-width: 400px) {
                top: 85%;
                width: 80%;
            }

            .instruction--text {
                font-size: 1.4rem;
                margin-top: 20px;
                margin-bottom: 20px;
            }
    
            .button--continue {
                border: none;
                background-color: $gray;
                padding: 10px;
                border-radius: 4px;
                font-weight: 700;
                font-size: 1.5rem;
                position: absolute;
                bottom: 0;
                right: 0;
                cursor: pointer;
            }
        }
    }

    .crossword--container {
        position: relative;
        width: 100vw;
        min-height: 100vh;
        opacity: 0; // 0
        display: none; // none
        transition: opacity 1s;
        flex-direction: column;
        align-items: center;
    
        .crossword {
            padding: 200px;

            @media (max-width: 1200px) {
                padding: 200px 0;
                margin: 0 auto;
            }
    
            .answer {
                position: relative;
                display: flex;
                margin: 1px;

                @media (max-width: 880px) {
                    margin: 0 !important;
                }
    
                .letter {
                    width: 30px;
                    height: 30px;
                    font-size: 2rem;
                    text-align: center;
                    text-transform: uppercase;
                    border: 2px solid black;
                    border-radius: 4px;
                    padding: 0;
                    margin: 0 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @media (max-width: 880px) {
                        width: 20px;
                        height: 20px;
                        font-size: 1.4rem;
                    }

                    @media (max-width: 550px) {
                        width: 15px;
                        height: 15px;
                        font-size: .75rem;
                    }
                }

                .index {
                    position: absolute;
                    left: -25px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: white;
                    font-size: 1.875rem;

                    @media (max-width: 550px) {
                        font-size: 1rem;
                    }
                }
    
                .main-letter {
                    @extend .letter;
                    border: 3px solid red;
                }
    
                .space {
                    @extend .letter;
                    background: gray;
                }
            }
        }

        .button--finish {
            position: absolute;
            top: 50%;
            right: 50px;
            transform: translate(-50%, -50%);
            border: none;
            background: $gray;

            @media (max-width: 700px) {
                right: 10px;
                top: 500px;
            }

            svg {
                height: 46.5px;
            }
        }
    }
    
    .questions--container {
        margin: 60px 0 60px 0;
        background: $gray;
        padding: 20px;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
        border-radius: 3px;

        ol {
            li {
                position: relative;
            }
        }
        
        .hint {
            position: absolute;
            left: -50px;
            top: 0;
            color: blue;
            cursor: pointer;
        }
    }

    .crossword-completed-modal {
        display: none;
        z-index: 1001;
        width: 50vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: $gray;
        border-radius: 10px;
        -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

        @media (max-width: 700px) {
            width: 99%;
        }

        .modal-header {
            background: #05d817;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .close {
                position: absolute;
                right: 20px;
                top: 10px;
                cursor: pointer;
                font-size: 2rem;
            }

            .modal-title {
                text-align: center;
                padding-top: 20px;
                font-size: 1.5rem;
            }
        
            .modal-title-password {
                text-align: center;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 2rem;
                padding: 30px 0;
            }
        }

        .modal-content {
            padding: 20px;
            font-size: 1.125rem;
            text-align: justify;

            .description {
                margin-bottom: 20px;
            }

            a {
                text-decoration: none;
            }
        }

        .modal-footer {
            display: flex;
            justify-content: center;
            align-items: center;

            .button--close {
                background-color: $gray;

                rect {
                    stroke: #0dfa21;
                }
            }
        }
    }

    .footer--container {
        width: 100%;
        height: 50px;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;
        background: $primary;
    
        .footer--container__small {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 90%;
            height: 100%;
            margin: 0 auto;
            
            p {
                color: #f0e7e7;
            }

            a {
                color: #f0e7e7;
                text-decoration: none;
            }
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}